
<!DOCTYPE html>
<html>
   <head>
      <title>Coopdivercite</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <style>
         body {font-family: Arial, Helvetica, sans-serif;}
         * {box-sizing: border-box}
         /* Full-width input fields */
         input[type=text], input[type=password] {
         width: 100%;
         padding: 15px;
         margin: 5px 0 22px 0;
         display: inline-block;
         border: none;
         background: #f1f1f1;
         }
         input[type=text]:focus, input[type=password]:focus {
         background-color: #ddd;
         outline: none;
         }
         hr {
         border: 1px solid #f1f1f1;
         margin-bottom: 25px;
         }
         /* Set a style for all buttons */
         button {
         background-color: #04AA6D;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         opacity: 0.9;
         }
         button:hover {
         opacity:1;
         }
         /* Extra styles for the cancel button */
         .btn-submit {
         background-color: #8a24ff;
         color: white;
         padding: 14px 20px;
         margin: 8px 0;
         border: none;
         cursor: pointer;
         width: auto; 
         opacity: 0.9;
         box-shadow: 0 2px 11px 2px #ccc;
         border-radius: 5px;
         }
         /* Add padding to container elements */
         .container {
         padding: 16px;
         }
         /* Clear floats */
         .clearfix::after {
         content: "";
         clear: both;
         display: table;
         }
         /* Change styles for cancel button and signup button on extra small screens */
         @media screen and (max-width: 300px) {
         .cancelbtn, .signupbtn {
         width: 100%;
         }
         }
         @media screen and (min-width: 700px) {
         .for-m
         {
         max-width: 500px;
         margin: auto;
         border-radius: 5px;
         box-shadow: 0 2px 11px 2px #ddd;
         margin-top:10px;
         }
         }
         .logo-set
         {
         text-align: center;
         padding: 20px 20px 0 20px;
         }
         .txt-center
         {
         text-align:center;
         }
         .mw-100
         {   
         max-width: 100%;
         }
      </style>
   </head>
   <body>
      <div class="logo-set"><a href="javascript:void0;"><img src="<%=base_url%>/static/public/logo.png" width="200"/></a></div>
      <div class="for-m" style="">
         <div class="container">
         	<div>
        <h3>Cher <%=name%>,</h3>
        <p>Votre mot de passe a été réinitialisé avec succès, vous pouvez maintenant vous connecter avec votre nouveau mot de passe.</p>
        <br>
        <div>
            Cheers!
        </div>
    </div>
            <a href="javascript:void0;"><img class="mw-100" src="<%=base_url%>/static/public/pass.png" width=""/></a>
            <h1 class="txt-center">Réinitialiser le mot de passe</h1>
         </div>
      </div>
   </body>
</html>

   
