<!DOCTYPE html>
<html>
<head>
<title>Oblack</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: sans-serif;font-size: 12px;">
<div style="max-width:500px;margin:auto;padding-top:50px;">
<div style="text-align:center;padding-bottom:20px;"><img src="logo.png" width="200" style="max-width:100%;"></div>
<div style="border: 1px dashed #ddd;padding: 30px;">
<div style="text-align:center;"> 
<h1>Facture</h1>
<!-- <p>Oblack</p> -->
</div>
<!-- <div>
  <p>Merci de faire appel à Oblack</p> <p>La société Oblack est une société de conseil et d'ingénierie.
    <p>Vous trouverez votre reçu pour votre événement appliqué.</p>

</div> -->
<div>
<!-- <h3>Résumé</h3> -->

 


<table style="margin-top: 3rem;">
  <tr>
      <td width="50%" style="padding-bottom:0.5rem;   vertical-align: baseline !important;     vertical-align: -webkit-baseline-middle;position: relative;">
          <p style="margin: 0;"><strong>Nom de l'événement : </strong></p>
      </td>
      <td width="50%" style="padding-bottom:0.5rem;">
         <p style="margin: 0;text-align: right;">
          <%= invoice.event_name %>
        </p>
      </td>
  </tr>
  <tr>
    <td width="50%" style="padding-bottom:0.5rem;   vertical-align: baseline !important;     vertical-align: -webkit-baseline-middle;position: relative;"><strong>Date de la transaction : </strong></td>
    <td width="50%" style="padding-bottom:0.5rem;"><p style="margin: 0;text-align: right;"><%= invoice.frenchdate %></p></td>
  </tr>

   <tr>
    <td width="50%" style="padding-bottom:0.5rem;"><strong>Numéro de la facture :</strong></td>
    <td width="50%" style="padding-bottom:0.5rem;"><p style="margin: 0;text-align: right;"><%= invoice.order_id %></p></td>
  </tr>

   <tr>
    <td width="50%" style="padding-bottom:0.5rem;"><strong>Montant :</strong></td>
    <td width="50%" style="padding-bottom:0.5rem;"><p style="margin: 0;text-align: right;"><%= invoice.payment_amount %> CFA </p></td>
  </tr>
  <tr>
    <td width="50%" style="padding-bottom:0.5rem;"><strong>Mode de paiement :</strong> </td>
    <td width="50%" style="padding-bottom:0.5rem;"><p style="margin: 0;text-align: right;">Mobile Money</p></td>
  </tr>
</table>

</div>

<div>
<!-- <h3>Informations sur le paiement</h3>
<ul style="padding-left:0;">
  <li style="list-style-type:none;padding-bottom:8px;"><strong>Carte bancaire</strong> <span style="float:right;"><%= invoice.payment_method %></span></li>
</ul> -->
</div>
</div>
</div>
</body>
</html>
