
  <!-- Navbar -->
 
  <!-- /.navbar -->



  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
          
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <!-- <li class="breadcrumb-item"><a href="/admin-panel">Accueil</a></li> -->
             
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
               
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div  class="dataTables_filter">
                 
                  <input type="text" id="name" class="form-control " placeholder="Entrez le nom" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;"/>
                  <input type="text" id="email"class="form-control " placeholder="Entrez l'email" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px">
                  
                
                  <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;height:35px">
               
                </div>
                <div class="card-header">
                   
                    <div class="card-tools">
                      <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                          <a class="btn btn-primary" href="/admin-panel/createdistributer" >Créer un nouveau Distributeur</a>
                        </li>
                     
                      </ul>
                    </div>
                </div>
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Nom et prénom</th>
                    <th>Email</th>
                   
                   <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                 <% dismodel.forEach(element => { %>
                  <tr>
                    <td><%= element.name %> </td>
                    <td><%= element.email %> </td>
                    
                   
                    <td>
                      <button onclick='handleview("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Modifier</button><button onclick='handledelete("<%= element._id %>")'  class="btn btn-danger" style="width:70px;padding: 0%;font-size: smaller">Supprimer</button>
                  <!-- <button onclick='handleactivate("<%= element._id %>")' class="btn btn-success" style="width:60px;font-size: smaller;padding: 0%;">Activer</button><button onclick='handledeactivate("<%= element._id %>")' class="btn btn-warning" style="width:70px;padding: 0%;font-size: smaller">Désactiver</button> -->
                </td>
                  </tr>
                  <% }); %>
                  </tbody>
                
                
                
                 
                
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
  
         
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- Page specific script -->
<script>
 
  function handledelete(id){
      var r = confirm("Vous êtes sûr de vouloir supprimer cet Enseignant?");
      const requestOptions = {
            method: 'get',

        };
        let url='/admin-panel/deletedistributer/'+id;
      if (r == true) {
        fetch(url,requestOptions).then(function(response){
          toastr.success("Enseignant supprimé avec succès");
          window.location.reload();
        });
      } else {
        window.location.href = "/admin-panel/teachers";
      }
    }
    function handleactivate(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/activateteacher/'+id;
      fetch(url,requestOptions).then(function(response){
        toastr.success("Enseignant activé avec succès");
       
        window.location.reload();
      });
    }
    function handledeactivate(id){
        const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/deactivatteacher/'+id;
      fetch(url,requestOptions).then(function(response){
        toastr.success("Enseignant désactivé avec succès");
        window.location.reload();
      });
    }
    function handleview(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/editdistributer/'+id;
      
      window.location.href = url;
    }
    function handlefilter(){
    var name = $("#name").val();
    var email = $("#email").val();
   
    var url='/admin-panel/distributers?name='+name+'&email='+email;
    window.location.href = url;
  }
</script>

