
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
          </div><!-- /.col -->
        
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
         
          <!-- /.row -->
          <!-- Main row -->
        
          <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
        <div class="container-fluid">
  
  
  
  
   
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Historique des services</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div  class="dataTables_filter">
                    <input type="text" id="student_name" class="form-control " placeholder="Entrez le nom de l'utilisateur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="text" id="teacher_name"class="form-control " placeholder="Indiquez le nom du fournisseur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="text" id="mode_of_payment"class="form-control " placeholder="Mode de paiement" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="text" id="mode_of_service"class="form-control" placeholder="Mode de service" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <select id="status"class="form-control " placeholder="Entrez l'email" aria-controls="example1" style="width: 300px;display:inline;margin-bottom: 3px;">
                      <option value="">Tous les statuts</option>
                      <option value="true">complété</option>
                      <option value="false">en attente de</option>
                    </select>
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="start_date" class="form-control " placeholder="date d'entrée en vigueur" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="end_date" class="form-control " placeholder="date de fin" aria-controls="example1" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                    <input type="button" id="search" class="btn btn-primary"  value="filtre" onclick="handlefilter()" style="width: 300px;display:inline;padding:10px;margin-bottom: 3px;">
                  </div>
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                      <tr>
  
                        <th>ID de la demande </th>
                        <th>Image</th>
                        <th>Emploi</th>
                        <th>Durée </th>
                        <th>Date et heure  </th>
  
                        
                        
                        
                       <th>Montant</th>
                       
                      
                      </tr>
                      </thead>
                      <tbody>
                     <% servicehistory.forEach((element,index) => { %>
                      <tr>
                       
                      <td><%= index+1 %></td>
                        <td><img src="<%= root_url+'/static/public/'+element.servicec?.image %>" style="width:100px;height:80px"/> </td>
                        <td><%= element.provider_name %> </td>
                        <td><%= element.duration %></td>
                        <td><%= element.date_availed&&moment(new Date(element.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY")?moment(new Date(element.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY"):""  %></td>
                       
                        
                        <td><%= element.payment_amount%>$</td>
                      
                        
                        <!-- <td><button onclick='handleview("<%= element._id %>")' class="btn btn-primary" style="width:60px;font-size: smaller;padding: 0%;">Voir</button></td> -->
                      </tr>
                      <% }); %>
                      </tbody>
                  
                  
                  
                   
                  
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
  
           
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    
  
  
  <script>
  
    function handleview(id){
      const requestOptions = {
            method: 'get',

        };
      let url='/admin-panel/viewservicehistory/'+id;
      
      window.location.href = url;
    }
    function setservicestatus(id,status){
    
     
      const requestOptions = {
            method: 'get'

        };
      let url='/admin-panel/setservicestatus/'+id;
      console.log(url);
      fetch(url, requestOptions).then(response => response.json()).then(data => {
        toastr.success('Status modifié avec succès');
        setTimeout(function(){
          window.location.reload();
        },1000);
        
      }).catch(error => {
        toastr.error(error.message);
      });
    }
    function handlefilter(){
    var student_name = $("#student_name").val();
    var teacher_name = $("#teacher_name").val();
    var start_date = $("#start_date").val();
    var end_date = $("#end_date").val();
    var mode_of_payment = $("#mode_of_payment").val();
    var mode_of_service = $("#mode_of_service").val();
    var status = $("#status").val();
    var url = "<%=base_url%>finishedreservations?student_name="+student_name+"&teacher_name="+teacher_name+"&start_date="+start_date+"&end_date="+end_date+"&mode_of_payment="+mode_of_payment+"&mode_of_service="+mode_of_service+"&status="+status;
    window.location.href = url;
  }
  </script>
  
  
        </div>
      
      </section>
   
    <!-- /.content -->
  </div>
 
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

