 <!-- Select2 -->
 <link rel="stylesheet" href="<%=base_url%>plugins/select2/css/select2.min.css">
 <link rel="stylesheet" href="<%=base_url%>plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
 <!-- dropzonejs -->
 <link rel="stylesheet" href="<%=base_url%>plugins/dropzone/min/dropzone.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="<%=base_url%>plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="<%=base_url%>plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- Bootstrap4 Duallistbox -->
  <link rel="stylesheet" href="<%=base_url%>plugins/bootstrap4-duallistbox/bootstrap-duallistbox.min.css">
  <!-- BS Stepper -->
  <link rel="stylesheet" href="<%=base_url%>plugins/bs-stepper/css/bs-stepper.min.css">
  <!-- dropzonejs -->
  <link rel="stylesheet" href="<%=base_url%>plugins/dropzone/min/dropzone.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%=base_url%>dist/css/adminlte.min.css">
  <!-- Select2 -->

<!-- AdminLTE App -->
<!-- AdminLTE App -->
<script src="<%=base_url%>dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="<%=base_url%>dist/js/demo.js"></script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
               
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Notifications</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="notificationform">
                            <div class="card-body">
                            
                            <div class="form-group">
                                <label for="exampleInputEmail1">Type de notification</label>
                                <select class="form-control" id="notificationtype">
                                    <option value="">Sélectionnez le type de notification</option>
                                    <option value="email">Email</option>
                                    <option value="app">Application</option>
                                </select>
                              
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Type d'utilisateur</label>
                                <select class="form-control" id="usertype" onchange="getusers()">
                                    <option value="">Sélectionnez le type d'utilisateur</option>
                                    <option value="user">Utilisateurs</option>
                                    <option value="lawyerind">Prestataire de services individuel</option>
                                    <option value="lawyerent">Entreprise</option>
                                </select>
                              
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Sélectionner les utilisateurs</label>
                              
                               <select    id="selecteduser" class="select2" multiple="multiple" data-placeholder="Sélectionner les utilisateurs" style="width: 100%;">
                                    <option value="">Sélectionner les utilisateurs</option>
                                   
                                    
                               </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Message</label>
                                <textarea   class="form-control" id="message" rows="6" ></textarea>
                                
                            </div>
                           
                            </div>
                            <!-- /.card-body -->
            
                            <div class="card-footer">
                            <button type="button" onclick='handlesubmit()'   class="btn btn-primary">Envoyer</button>
                            </div>
                        </form>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
    <script>
    
        $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
        });
        function handlesubmit(){
         
            var notificationtype = $('#notificationtype').val();
            var usertype = $('#usertype').val();
            var selecteduser = $('#selecteduser').val();
            var message = $('#message').val();
            
            var data={
                notificationtype:notificationtype,
                usertype:usertype,
                selecteduser:selecteduser,
                message:message
                
            }
            if(notificationtype == ''){
                toastr.error('Veuillez sélectionner le type de notification');
                return false;
            }
            if(usertype == ''){
                toastr.error('Veuillez sélectionner le type d utilisateur');
                return false;
            }
            if(selecteduser == ''){
                toastr.error('Veuillez sélectionner les utilisateurs');
                return false;
            }
            if(message == ''){
                toastr.error('Veuillez entrer le message');
                return false;
            }
            var baseurl= "<%= base_url %>";
            var url= baseurl+"sendnotification";
           
            const requestOptions = {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(data)
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
                setTimeout(function(){
                    window.location.href = baseurl+"notification";
                }, 2000);
            }else{
                toastr.success(data.message);
            }
        })
            }
            function getusers(){
                var usertype = $('#usertype').val();
                var data={
                    usertype:usertype
                };
                console.log(data)
                var baseurl= "<%= base_url %>";
                var url= baseurl+"getusers/"+usertype;
               
                const requestOptions = {
                method: 'GET',
                }
                fetch(url, requestOptions)
                .then(response => response.json())
                .then(data => {
                    if(data.status){
                 
                        $('#selecteduser').empty();
                        $('#selecteduser').append('<option value="all">Tous</option>');
                       data?.data.map(function(item){
                           if(item.cabinetname){
                                
                                 $('#selecteduser').append('<option value="'+item._id+'">'+item.cabinetname+'</option>');
                           }else{
                           
                            $('#selecteduser').append('<option value="'+item._id+'">'+item.first_name+' '+item.last_name+'</option>');
                           }
                          
                       });
                    }else{
                        toastr.success(data.message);
                    }
                })
            };
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
   
    </div>
    <!-- ./wrapper -->
<!-- Select2 -->

<script>
    $(function () {
      //Initialize Select2 Elements
      $('.select2').select2()
  
      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
  
      //Datemask dd/mm/yyyy
      $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
      //Datemask2 mm/dd/yyyy
      $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
      //Money Euro
      $('[data-mask]').inputmask()
  
      //Date picker
      $('#reservationdate').datetimepicker({
          format: 'L'
      });
  
      //Date and time picker
      $('#reservationdatetime').datetimepicker({ icons: { time: 'far fa-clock' } });
  
      //Date range picker
      $('#reservation').daterangepicker()
      //Date range picker with time picker
      $('#reservationtime').daterangepicker({
        timePicker: true,
        timePickerIncrement: 30,
        locale: {
          format: 'MM/DD/YYYY hh:mm A'
        }
      })
      //Date range as a button
      $('#daterange-btn').daterangepicker(
        {
          ranges   : {
            'Today'       : [moment(), moment()],
            'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month'  : [moment().startOf('month'), moment().endOf('month')],
            'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          },
          startDate: moment().subtract(29, 'days'),
          endDate  : moment()
        },
        function (start, end) {
          $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
        }
      )
  
      //Timepicker
      $('#timepicker').datetimepicker({
        format: 'LT'
      })
  
      //Bootstrap Duallistbox
      $('.duallistbox').bootstrapDualListbox()
  
      //Colorpicker
      $('.my-colorpicker1').colorpicker()
      //color picker with addon
      $('.my-colorpicker2').colorpicker()
  
      $('.my-colorpicker2').on('colorpickerChange', function(event) {
        $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
      })
  
      $("input[data-bootstrap-switch]").each(function(){
        $(this).bootstrapSwitch('state', $(this).prop('checked'));
      })
  
    })
    // BS-Stepper Init
    document.addEventListener('DOMContentLoaded', function () {
      window.stepper = new Stepper(document.querySelector('.bs-stepper'))
    })
  
    // DropzoneJS Demo Code Start
    Dropzone.autoDiscover = false
  
    // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
    var previewNode = document.querySelector("#template")
    previewNode.id = ""
    var previewTemplate = previewNode.parentNode.innerHTML
    previewNode.parentNode.removeChild(previewNode)
  
    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
      url: "/target-url", // Set the url
      thumbnailWidth: 80,
      thumbnailHeight: 80,
      parallelUploads: 20,
      previewTemplate: previewTemplate,
      autoQueue: false, // Make sure the files aren't queued until manually added
      previewsContainer: "#previews", // Define the container to display the previews
      clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    })
  
    myDropzone.on("addedfile", function(file) {
      // Hookup the start button
      file.previewElement.querySelector(".start").onclick = function() { myDropzone.enqueueFile(file) }
    })
  
    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function(progress) {
      document.querySelector("#total-progress .progress-bar").style.width = progress + "%"
    })
  
    myDropzone.on("sending", function(file) {
      // Show the total progress bar when upload starts
      document.querySelector("#total-progress").style.opacity = "1"
      // And disable the start button
      file.previewElement.querySelector(".start").setAttribute("disabled", "disabled")
    })
  
    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function(progress) {
      document.querySelector("#total-progress").style.opacity = "0"
    })
  
    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function() {
      myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED))
    }
    document.querySelector("#actions .cancel").onclick = function() {
      myDropzone.removeAllFiles(true)
    }
    // DropzoneJS Demo Code End
  </script>
    