<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap 5 Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: system-ui;
        }
        
        table,
        td,
        th {
            border: 4px solid #ddd;
            padding: 10px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>

<body>

    <div style="max-width:900px;margin: auto;">
        <table>
            <tr>
                <td rowspan="6" width="10%" style="writing-mode: vertical-rl;text-align: center;">
                    <div>
                        <img src="<%=QRCodeoutput%>" alt="bar" width="100" style="max-width: 100%;transform: rotate(90deg);">
                        <p style="margin: 0;"><%=ticket%></p>
                    </div>
                </td>

            </tr>
            <tr>

                <td style="display: flex;justify-content: space-between;border: black;"><span style="color: #666;"></span><span style="    font-size: 24px;
              font-weight: 500;"><%= invoice.event_name%></span></td>
                <td> </td>
            </tr>
            <tr>

                <td style="display: flex;justify-content: space-between;border-left: aliceblue;border-right: aliceblue;"><span> <%= event_record.address[0].address %> </span><span></span></td>
                <td>
                    <p style="margin: 0;"> </p>
                    <p style="margin: 0;font-size: 20px;font-weight: 500;text-align: center;"> <%= invoice.user_name %></p>
                </td>
            </tr>
            <tr>

                <td style="display: flex;justify-content: space-between;border: black;"><span> </span><span> 
                    
                     
                    
                    
                     Nom de l'organisateur : <%= invoice.org_name%>

                </span></td>
                <td>
                    <p style="margin: 0;"> </p>
                    <p style="margin: 0;font-size: 20px;font-weight: 500;text-align: center;">   <% if(event_record.address[0].paidornot == true ){ %>
                        Payé
                      <% } else{ %>  
                        Gratuit
                     <% } %></p>
                </td>
            </tr>
            <tr>

                <td style="display: flex;justify-content: space-between;border-left: aliceblue;border-right: aliceblue;"><span>Le : <%= invoice.payment_date %> </span><span></span></td>
                <td rowspan="2"> </td>
            </tr>
            <tr>

                <td style="display: flex;justify-content: space-between;border: black"><span> </span><span>Numéro d'ordre : <%= invoice.order_id%></span></td>

            </tr>
        </table>
        <table style="margin-top: 3rem;">
            <tr>
                <td width="60%">
                    <p style="margin: 0;">Veuillez imprimer ce billet et le présenter à l'entrée de l'événement.</p>
                </td>
                <td>
                    <img src="<%=QRCodeoutput%>" alt="bar" width="100" style="max-width: 100%;">
                    <p style="margin: 0;"><%=ticket%></p>
                </td>
            </tr>
        </table>
    </div>

</body>

</html>