

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
           
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Editer l'avocat</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form id="lawyerform" enctype='multipart/form-data'>
                            <div class="card-body">
                                <input type="hidden" class="form-control" id="elementid" placeholder="Enter Package" value=<%= lawyer._id %>>
                            <div class="form-group">
                                <label for="Duration">Email</label>
                                <input type="text" disabled class="form-control" id="email" placeholder="Enter Package Duration" value=<%= lawyer.email %>>
                            </div>
                            <div class="form-group">
                           
                                <label for="Duration">Statut</label>
                                <select class="form-control" id="Statut"  >
                                    <option value="" disabled selected hidden><%= lawyer.is_active==true ? "Actif" : "Désactivé" %></option>
                                    <option value="1" >Actif</option>
                                    <option value="0">Désactivé</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Price">Reste du mot de passe</label>
                                <input type="password" value="**********" class="form-control" id="resetpassword" placeholder="Entrez le mot de passe" >
                            </div>
                           
                            </div>
                            <!-- /.card-body -->
            
                            <div class="card-footer">
                            <button type="button" class="btn btn-primary" onclick="handlesubmit()"> Mise à jour </button>
                            </div>
                        </form>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
        
        <script
        async
        defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7uyZ6P0gyfKIlKKkXCKocCSee-ZFHPvQ&libraries=places&callback=setAutocomplete"
      ></script>
     
  <script>
      function setAutocomplete() {
        let address1Field = document.getElementById("address1");
 let  address2Field = document.getElementById("address2");
  autocomplete1 = new google.maps.places.Autocomplete(
  (
     
        address1Field
       
      ),
      { types: ["geocode"],
      componentRestrictions: { country: ['fr'] },
    }
  );
  autocomplete1.addListener("place_changed", setAddress1);
  
  autocomplete2 = new google.maps.places.Autocomplete(
  (
     
       
        address2Field
      ),
      { types: ["geocode"],
      componentRestrictions: { country: ['fr'] },
    }
  );
  autocomplete2.addListener("place_changed", setAddress2);
  
  strictBoundsInputElement.checked = biasInputElement.checked;
  }
  function setAddress1() {
  var place = autocomplete1.getPlace();
  }
  function setAddress2() {
  var place = autocomplete2.getPlace();
  }
  </script>
    <script>
      
      
      



          function handlesubmit(){
           
            var formData = new FormData();
            
            var elementid = document.getElementById("elementid").value;
            var lawyer_email=document.getElementById("email").value;
            var Status=document.getElementById("Statut").value;
            var password=document.getElementById("resetpassword").value;
            
           
         
            formData.append("email", lawyer_email);
            formData.append("status",Status);
            formData.append("elementid",elementid);
            formData.append("password",password);
           
            
          
            console.log(formData);
            var baseurl= "<%= base_url %>";
            var url= baseurl+"updateparent";
           
            const requestOptions = {
            method: 'POST',
           
            body: formData
        };
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(data => {
            if(data.status){
                toastr.success(data.message);
                setTimeout(function(){
                    window.location.href = baseurl+"parents";
                }, 2000);
            }else{
                alert(data.message);
            }
        })
            }
    </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
    </div>
    <!-- ./wrapper -->

    