

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
            <div class="col-sm-6">
               
            </div><!-- /.col -->
            
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
  
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            
            <!-- /.row -->
            <!-- Main row -->
            
            <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
            <div class="container-fluid">
    
    
    
    
    
    
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
            
            <div class="row">
                <div class="col-12">
                
                        <!-- general form elements -->
                        <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Historique des services</h3>
                            <div class="card-tools">
                              <ul class="nav nav-pills ml-auto">
                                <li class="nav-item">
                                
                                </li>
                             
                              </ul>
                            </div>
                        </div>
                        
                        <!-- /.card-header -->
                        <!-- form start -->
                        <div class="card-body">
                         
                          <table id="example1" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                             <th>Champ</th>
                             
                             <th>Valeur</th>
                            </tr>
                            </thead>
                            <tbody id="miscdata">
                                <tr><td> ID de la demande </td><td><%= service.transaction_id %></td></tr>
                                <tr><td>Utilisateu</td><td><%= service.client_name %> </td></tr>
                                <tr><td>Avocat</td><td><%= service.lawyer_name %> </td></tr>
                                <tr><td>Type de réservation</td><td><%= service.mode_of_service %> </td></tr>
                               
                                <tr><td>Date et heure</td><td><%= service.date_availed? moment(new Date(service.date_availed).toISOString().split("T")[0]).format("DD.MM.YYYY"):"" %> </td></tr>
                              
                                <tr><td>Montant</td><td><%= service.payment_amount %> </td></tr>
                                <tr><td>Date et transactions</td><td><%= service.date_of_transaction? moment(new Date(service.date_of_transaction).toISOString().split("T")[0]).format("DD.MM.YYYY"):""  %> </td></tr>
                                <tr><td>Mode de paiement</td><td><%= service.mode_of_payment %> </td></tr>
                                <tr><td>Statut du paiement</td><td><%= service.payment_status %> </td></tr>
                                <tr><td>ID de la transaction</td><td><%= service.transaction_id%> </td></tr>
                                
                            </tbody>
                          
                          
                          
                           
                          
                          </table>
                        </div>
                        </div>
                      
                <!-- /.card -->
    
            
                <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
        
    
    
        <script>
        
           function handledelete(id){
               var r = confirm("Are you sure you want to delete this lawyer?");
               const requestOptions = {
                     method: 'get',
         
                 };
                 let url='/admin-panel/deletelanguage/'+id;
               if (r == true) {
                 fetch(url,requestOptions).then(function(response){
                   alert("Lawyer deleted successfully");
                   window.location.reload();
                 });
               } else {
                 window.location.href = "/admin-panel/lawyersindividual";
               }
             }
             
             function handleview(id){
              
            
               const requestOptions = {
                     method: 'get',
         
                 };
               let url='/admin-panel/editlanguage/'+id;
               
               window.location.href = url;
             }
            //  function handlechange(){
               
            //  const misctype = document.getElementById("misctype").value;
             
                 
            //          var baseurl= "<%= base_url %>";
            //          var url= baseurl+"getexpertise";
                    
            //          const requestOptions = {
            //          method: 'get'
            //      };
            //      fetch(url, requestOptions)
            //      .then(response => response.json())
            //      .then(data => {
            //          if(data.status){
            //            $("#miscdata").html('');
                     
            //            data.data?.map(element => {
                       
            //              $("#miscdata").append("<tr><td>"+element.name+"</td><td><button onclick='handleview("+`${element._id}`+")' class='btn btn-primary' style='width:60px;font-size: smaller;padding: 0%;'>View</button><button onclick='handledelete("+element._id+")'  class='btn btn-danger' style='width:70px;padding: 0%;font-size: smaller'>Delete</button></td></tr>");
            //              console.log("<tr><td>"+element.name+"</td><td><button onclick='handleview("+`${element._id}`+")' class='btn btn-primary' style='width:60px;font-size: smaller;padding: 0%;'>View</button><button onclick='handledelete("+element._id+")'  class='btn btn-danger' style='width:70px;padding: 0%;font-size: smaller'>Delete</button></td></tr>")
            //            });
            //          }else{
            //              toastr.error(data.message);
            //          }
            //      })
            //  }
         </script>
    
    
            </div>
        
        </section>
    
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
   
    </div>
    <!-- ./wrapper -->
  
   